@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}

/*slidebar*/

.slidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, .07);
    padding: 6px 14px;
    transition: .5s ease;
    z-index: 100;
}

.slidebar.active {
    width: 220px;
}

.slidebar .logo-content .logo2 {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 50px;
    pointer-events: none;
    opacity: 0;
    transition: .5s ease;
}

.slidebar.active .logo-content .logo2 {
    opacity: 1;
}


.logo-content .logo2 i {
    font-size: 28px;
    margin-right: 5px;
    display: block;
}

.slidebar #btn {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
   top: 6px;
   left: 10px;
}

.slidebar.active #btn {
    left: 155px
}


.slidebar ul {
    margin-top: 20px;
}

.slidebar ul li {
    position: relative;
    width: 100%;
    height: 50px;
list-style: none;
margin: 5px 0;
line-height: 50px;
}

.slidebar ul li a:hover {
    background: rgba(255, 255, 255, .1);
}

.slidebar ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: .5s ease;
    border-radius: 6px;
}


.slidebar ul li i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.slidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.slidebar.active .links-name {
transition-delay: .2s;
opacity: 1;
pointer-events: auto;
}
 
/*page*/


.first {
  background-image: url(assets/main1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inmain {
    background-image: url(assets/ink-splatter.png);
    background-size: cover;
    height: 600px;
    z-index: 90;    
    width: 700px;
    margin-bottom: 210px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding-left:50px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.open {
    position: absolute;
    top: 35px;
    right: 30px;
    border: solid rgb(31, 8, 8) 2px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    fill-opacity: 50%;
    color: #1A2130;
    font-weight: 650;
    display: block;
}

.custom-shape-divider-bottom-1718775943 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1718775943 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
}

.custom-shape-divider-bottom-1718775943 .shape-fill {
    fill: black;
}

.second {
    height: 60vh;
    background-color: black;
   
}











@media (max-width : 600px) {
    
.navbar {
    height: 100px;
}
.navigation a {
    display: none;
}   

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 60px;
}

.icon  {
    display: block;
    height: 4rem;
    color: aliceblue;
    z-index: 100;
   padding-left: 40%;
}

.first {
    height: 70vh;
}


.main {
    margin-left: 0px;
    position: relative;
    left: 30px;
}

.inmain {
    margin-left: 0px;
    position: relative;
    left: 45px;
}

.text {
    padding-left:150px ;
    padding-top: 15px
}

.text h3 {
  font-weight: 600;
  padding-left: 10px;
}

.custom-shape-divider-bottom-1718775943 {
   display: none;
}

.second {
    height: 600px;
    background-color:#1A2130;
    position: relative;
    bottom: 152px;
}

.open {
    display: none;
}

.slidebar {
    backdrop-filter:none;
    background: transparent;
    border-right: none;
}

.slidebar.active {
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, .07);
}

.list-item i {
    display: none;
}

.slidebar.active i {
    display: block;
}

}
